<?xml version="1.0" encoding="UTF-8"?>
<beans>
  <import resource="handlers.xml"/>
  <import resource="event-handlers.xml"/>
  <bean id="PropertiesHolder" class="Ding\Helpers\Properties\PropertiesHelper" scope="singleton">  
    <property name="locations">  
      <array>  
        <entry key="0"><value>file://${config.dir}/ramid.properties</value></entry>  
        <entry key="1"><value>file://${config.dir}/php.properties</value></entry>  
        <entry key="2"><value>file://${config.dir}/mysql.properties</value></entry>  
      </array>  
    </property>  
  </bean>
  <bean id="pami" class="Ding\Helpers\PAMI\PamiHelper" scope="singleton" init-method="open" destroy-method="close" depends-on="dialListener">
    <property name="username"><value>${ami.username}</value></property>
    <property name="password"><value>${ami.password}</value></property>
    <property name="host"><value>${ami.host}</value></property>
    <property name="port"><value>${ami.port}</value></property>
    <property name="connectTimeout"><value>${ami.connect_timeout}</value></property>
    <property name="readTimeout"><value>${ami.read_timeout}</value></property>
    <property name="handler"><ref bean="pamiHandler"/></property>
  </bean>
</beans>
